:root {
    scroll-behavior: smooth;
}

body {
    font-family: Manrope, sans-serif;
    color: #1E1B1B;
    scroll-behavior: smooth;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1330px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 50;
    background-color: #00000060;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}

.overlay--show {
    visibility: visible;
    opacity: 1;
}

.button {
    display: flex;
    white-space: nowrap;
    font-weight: 600;
    font-size: 18px;
    background: #FF6433;
    border-radius: 12px;
    line-height: 32px;
    padding: 16px 40px;
    color: #ffffff;
    transition: all .5s ease;
}

.title {
    font-weight: 800;
    font-size: 58px;
}


/* ---------------------------------- */




/* ---------------- */


.header {}

.header__body-container {
    display: flex;
    flex-direction: column;
}

.header__top {}

.header__top-inner {
    display: flex;
    align-items: center;
    padding-top: 30px;
    height: 100%;
}

.header__menu-nav {
    display: flex;
    align-items: center;
}

.header__nav {
    margin-left: auto;
}

.header__nav-list {
    display: flex;
}

.header__nav-item {
    padding-right: 40px;
    transition: all .1s step-start;
}

.header__nav-item:hover {
    color: #fa7101;
}

.header__nav-item:last-child {
    padding-right: 0;
}


.header__nav-link {
    font-weight: 800;
    line-height: 28px;
    transition: all .3s linear;
}


.header__menu-assistance {
    position: relative;
    display: flex;
    align-items: center;
}

.header__top-line {
    display: block;
    margin: 0 32px;
}

.header__menu-image-link {
    margin-right: 14px;
    transition: all .3s;
}

.header__menu-image-link:hover {
    transform: scale(1.2) rotate(-10deg);
}


.header__menu-text {
    opacity: 0.7;
    font-weight: 600;
    line-height: 1.5rem;
}

.header__menu-phone {
    font-weight: 800;
    font-size: 18px;
    line-height: 2rem;
}







.header__body {
    margin-top: 110px;
}

.header__body-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__body-content {
    margin-right: 51px;
}

.header__title {
    max-width: 650px;
    font-size: 64px;
    line-height: 131%;
    padding-bottom: 32px;
}

.header__btn-box {
    display: flex;
    align-items: center;
    padding-bottom: 48px;
}

.header__button {
    margin-right: 50px;
}

.header__button:hover {
    box-shadow: 0px 0px 18px 9px rgba(34, 60, 80, 0.2) inset;
}

.header__play-button {
    display: flex;
    align-items: center;
    white-space: nowrap;
    line-height: 19px;
    font-weight: 700;
}

.header__play-button:hover img {
    box-shadow: 0px 0px 0px 6px rgba(34, 60, 80, 0.2);
    border-radius: 100%;
    opacity: 0.8;
}

.header__play-button-image {
    margin-right: 8px;
    transition: all .2s linear;
}

.header__desc {
    display: flex;
    align-items: center;
}

.header__desc-image {
    padding-right: 13px;
}

.header__info {
    line-height: 150%;
    color: #939191;
}

.header__slogan {
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
}

.header__body-content-2 {}

.header__image-box {
    position: relative;
}

.header__image {}

.header__star {
    position: absolute;
    top: 465px;
    right: -20px;
    width: 326px;
    max-height: 102px;
    border-radius: 59px;
    background-color: #ffffff;
    transition: all .2s linear;
    cursor: pointer;
}

.header__star:hover {
    box-shadow: 0px 0px 0px 16px rgba(255, 255, 255, 0.37);
}

.header__wrapper-star {
    display: flex;
    align-items: center;
    padding: 20px 40px;
}


.header__star-text {
    padding-right: 15px;
    color: #000000;
}

.rating-number {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.06em;
}

.rating-star {
    line-height: 150%;
    font-weight: 700;
    opacity: 0.7;
}

.header__service {
    position: absolute;
    top: 85px;
    right: 360px;
    max-width: 326px;
    max-height: 102px;
    border-radius: 59px;
    background-color: #ffffff;
    transition: all .2s linear;
    cursor: pointer;
}

.header__service:hover {
    box-shadow: 0px 0px 0px 16px rgba(255, 255, 255, 0.37);
}

.header__wrapper-service {
    display: flex;
    align-items: center;
    padding: 14px;
    max-height: 102px;
    width: 280px;
}

.header__service-image {
    transition: all .3s;
    margin-right: 15px;
}

.header__service-image:hover {
    transform: rotate(20deg);
}

.header__service-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
}


/* ----------------------M A I N---------------------- */

/* ---------------------O F F E R-------------------------- */

.offer {
    margin-top: 118px;
    padding-bottom: 138px;
    background: #F2F2F2;
}

.offer__container {
    display: flex;
    flex-direction: column;
}

.offer__subtitle {
    text-align: center;
    align-self: center;
    max-width: 900px;
    padding-bottom: 4rem;
    line-height: 131%;
}

.offer__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    padding-top: 8.25rem;
}

.offer__cards {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
    width: 100%;
    gap: 8px;
    padding-bottom: 32px;
}

.offer__card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 232px;
    background: #ffffff;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.offer__card-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.offer__card:hover {
    background: #FF6433;
    color: #ffffff;
}

.offer__card svg path {
    transition: all .3s ease-in-out;
}

.offer__card:hover svg path {
    fill: #ffffff;
}

.offer__card svg {
    margin-bottom: 12px;
}

.offer__switch {
    display: flex;
    margin-left: auto;
}

.offer__switch-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    margin-right: 16px;
}

.offer__switch:hover .offer__switch-image {
    animation: arrowMove 1s ease-out infinite alternate;
}


@keyframes arrowMove {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(10px);
    }
}



/* ---------------------P R O C E S S---------------------------- */

.process {
    margin-top: 138px;
    margin-bottom: 134px;
}

.process__inner {
    display: flex;
}

.process__top {
    margin-right: 132px;
}

.process__title {
    max-width: 600px;
    line-height: 76px;
    padding-bottom: 16px;
}

.process__subtitle {
    max-width: 440px;
    line-height: 28px;
    opacity: 0.6;
    padding-bottom: 32px;
}

.process__button {
    max-width: max-content;
}

.process__button:hover {
    box-shadow: 0px 0px 18px 9px rgba(34, 60, 80, 0.2) inset;
}

.process__row-block {
    display: flex;
}

.process__image {
    position: relative;
    bottom: 1em;
    padding-right: 24px;
}

.process__image-border {
    position: relative;
}

.process__image-border::after {
    content: '';
    position: absolute;
    right: 1.2rem;
    top: 7.8rem;
    width: 80px;
    border: 1px dashed #FF6433;
    transform: rotate(90deg);
}

.process__image-border::before {
    content: '';
    position: absolute;
    right: 1.2rem;
    bottom: 14.6rem;
    width: 80px;
    border: 1px dashed #FF6433;
    transform: rotate(90deg);
}

.process__image-circle {
    position: absolute;
    top: 3.3em;
    left: 0.95em;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #ffffff3d;
}

.process__text-block {
    padding-bottom: 30px;
    cursor: pointer;
    transition: all .3s ease-out;
}

.process__text-block:hover {
    transform: scale(1.2);
    padding-left: 40px;
}

.process__subject {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    padding-bottom: 8px;
}

.process__text {
    max-width: 320px;
    font-size: 18px;
    line-height: 32px;
    opacity: 0.6;
}




/* ------------------------GET IN TOUCH------------------------------ */



.get-in-touch {
    background: url('../images/get.jpg');
    background-size: cover;
    background-position: center;
}

.get-in-touch__wrapper {
    width: 729px;
    height: 502px;
    background-color: #FF6433;
    z-index: 10;
}

.get-in-touch__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 67px;
    letter-spacing: -0.03em;
    padding: 128px 80px 50px;
    color: #ffffff;
}

.get-in-touch__button {
    max-width: max-content;
    border-radius: 12px;
    color: #ffffff;
    background-color: #1E1B1B;
    transition: all .3s linear;
    transform: translateX(61px);
}

.get-in-touch__button:hover {
    box-shadow: 0px 0px 18px 9px rgba(34, 60, 80, 0.2) inset;
    color: #000000;
    background-color: white;
}





/* --------------------------E X P E R I E N C E---------------------------------- */



.experience {
    padding: 48px 0;
}

.experience__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* Для адаптива */
    gap: 20px;
    /* Для адаптива */
}

.experience__number {
    font-weight: 800;
    font-size: 58px;
    line-height: 131%;
    color: #661CE7;
}

.experience__subtitle {
    font-size: 24px;
    line-height: 150%;
    opacity: 0.7;
}



/* ----------------------B R A N D S----------------------------- */

.brands {
    padding: 128px 0 82px;
    background: #E2E6E9;
}

.brands__title {
    text-align: center;
    line-height: 131%;
    margin-bottom: 31px;
}

.brands__block {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.brands__item svg path {
    transition: all .2s ease;
}

.brands__item:hover svg path {
    fill: rgb(58, 118, 124);
}



/* ----------------------B L O G--------------------------- */



.blog {
    padding: 131px 0 136px;
}

.blog__title {
    line-height: 131%;
    margin-bottom: 47px;
}

.blog__button-box {
    margin-bottom: 46px;
}

.blog__button {
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -0.03em;
    margin-right: 30px;
    background-color: #ffffff;
    transition: all .3s linear;
}

.blog__button--active {
    text-shadow: 3px 3px 4px rgba(103, 103, 103, 1);
}

.blog__button:last-child {
    margin: 0;
}

.blog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 64px 28px;
}

.blog__item {
    cursor: pointer;
}

.blog__item-transition {
    transition: transform .3s ease;
}

.blog__item-transition:hover {
    transform: scale(.96);
}

.blog__image {
    width: 100%;
    height: 100%;
    margin-bottom: 24px;
}

.blog__info {
    line-height: 175%;
    margin-bottom: 16px;
    color: #939191;
}

.blog__subtitle {
    max-width: 405px;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -0.03em;
    margin-bottom: 16px;
}

.blog__text {
    max-width: 400px;
    line-height: 175%;
    color: #232536;
}


/* ---------------------R E V I E W------------------------------- */

.review {
    padding: 128px 0;
    background-color: #F2F2F2;
}

.review__inner {
    display: flex;
    flex-direction: column;
}

.review__title {
    max-width: 909px;
    text-align: center;
    align-self: center;
    line-height: 131%;
    letter-spacing: -0.03em;
    margin-bottom: 76px;
}

.review__slider {}

.review__slide {
    padding: 0 48px;
}

.review__slide-inner {
    padding: 72px;
    background-color: #ffffff;
}

.review__author {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.review__image-box {
    margin-right: 16px;
}

.review__name {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em;
}

.review__city {
    font-weight: 600;
    font-size: 16px;
    line-height: 175%;
    color: #939191;
}

.review__desc {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em;
}

.review__slider-dots .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.review__slider-dots li {
    margin-right: 11px;
}

.review__slider-dots li:last-child {
    margin-right: 0;
}

.review__slider-dots button {
    font-size: 0;
    background-color: transparent;
    width: 32px;
    border: 2px solid #939191;
}

.review__slider-dots .slick-active button {
    border: 2px solid #FF6433;
    transition: all .3s ease;
}


.review__slider-arrows {
    display: flex;
    align-self: flex-end;
    padding: 10px;
    margin-top: -40px;
}

.review__slider-prev {
    margin-right: 24px;
    background: #ffffff;
}

.review__slider-next {
    background: #ffffff;
}

.review__slider-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 13px;
    border-radius: 50%;
    transition: all .5s ease;
}

.review__slider-arrow path {
    fill: #000000;
    transition: all .3s ease;
}

.review__slider-arrow:hover {
    transform: scale(1.3);
    background: #1E1B1B;
}

.review__slider-arrow:hover path {
    fill: #ffffff;
}







/* ------------------------Q U E S T I O N S---------------------------- */


.questions {
    padding-bottom: 124px;
    background: #E2E6E9;
}


.questions__content {
    position: relative;
}

.questions__title {
    padding: 128px 0 86px 0;
    text-align: center;
    line-height: 131%;
}

.questions__block-list {
    max-width: 896px;
    margin: 0 auto;
}


.questions__block-item {
    position: relative;
    padding: 40px;
    background-color: #ffffff;
    margin-bottom: 12px;
}

.questions__block-link--active .questions__plus {
    transform: rotate(0deg);
}

.questions__block-head {}

.questions__orange-block {
    position: absolute;
    top: 32px;
    right: 30px;
    width: 51.08px;
    height: 48px;
    background-color: #FF6433;
}

.questions__minus,
.questions__plus {
    position: absolute;
    top: 50%;
    left: 33%;
    border: 1px solid #ffffff;
    width: 17px;
    z-index: 10;
    transition: all .3s ease;
}

.questions__plus {
    transform: rotate(90deg);
}


.questions__subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
}


.questions__text {
    display: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
    margin-top: 16px;
    color: #939191;
}




/* ------------------------F O R M---------------------------- */



.form {
    padding-bottom: 178px;
    padding-top: 121px;
}

.form__title {
    max-width: 31.25rem;
    line-height: 131%;
    font-size: 4rem;
    letter-spacing: -0.03em;
    margin-bottom: 48px;
}

.form__inner {
    display: flex;
}

.form__shape {
    width: 626px;
    margin-right: 139px;
}

.form__shape-item {
    font-family: 'Manrope';
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
    padding: 23px 40px;
    border-radius: 2px;
    background: #F2F2F2;
}

.form__shape-item::placeholder {
    color: #1E1B1B;
    line-height: 175%;
}

.form__shape-service {
    display: block;
    margin-right: -10px;
    appearance: none;
    color: #1E1B1B;
}

.form__shape-text {
    resize: none;
}

.form__top-button {
    margin-top: 48px;
    font-weight: 500;
}

.form__top-button:hover {
    box-shadow: 0px 0px 18px 9px rgba(34, 60, 80, 0.2) inset;
}

.form__info-item {
    margin-bottom: 32px;
}

.form__info-title {
    opacity: 0.7;
    line-height: 175%;
    font-weight: 600;
    margin-top: -10px;
}

.form__info-desc {
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em;
    font-weight: 600;
}




/* ------------------------L O C A T I O N-------------------------- */



.location {
    position: relative;
    margin-bottom: 280px;
}

.location__image {
    position: absolute;
    top: 21.4rem;
    bottom: 0;
    width: 100%;
    height: 450px;
    background: url('../images/map-image.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}


[class*="copyrights-pane"] {
    display: none !important;
}

.ymaps-map {
    filter: grayscale(1);
}

ymaps>ymaps>iframe {
    display: none !important;
}


/* -----------------------F O O T E R------------------------- */

/* --------------------F O O T E R  T O P----------------------- */

.footer {}

.footer__top {
    background: #1E1B1B;
    opacity: 0.98;
    padding: 128px 0 129px 0;
}

.footer__top-inner {
    display: flex;
    justify-content: space-between;
}

.footer__title {
    max-width: 463px;
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    letter-spacing: -0.03em;
    color: #ffffff;
    margin-bottom: 64px;
}

.footer__socials-list {
    display: flex;
}

.footer__socials-item {
    margin-right: 23px;
}

.footer__socials-link path {
    transition: all .3s ease;
}

.footer__socials-link:hover path {
    fill: #ffffff9c;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

a.disabled path {
    fill: #888;
}

.footer__info-item {
    margin-bottom: 32px;
    color: #ffffff;
}

.footer__info-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 175%;
    margin-bottom: 8px;
    opacity: 0.6;
}

.footer__info-desc {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}


/* -------------------F O O T E R  B O T T O M----------------------- */


.footer__bottom {
    padding: 64px 0 64px 0;
    background: #1E1B1B;
}

.footer__bottom-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__nav-list {
    display: flex;
}

.footer__nav-item {
    line-height: 175%;
    margin-right: 36px;
    color: #ffffff;
    transition: color .3s ease;
}

.footer__nav-item:hover {
    color: #ffffffb4;
}

.footer__nav-item:last-child {
    margin-right: 0;
}

.footer__copyright {
    color: #939191;
}





/* ------------------------MEDIA-------------------------- */



/* ======================== 1200 ================================ */

@media (max-width: 1200px) {

    .header__title {
        max-width: 450px;
        font-size: 52px;
    }

    .header__image {
        max-width: 500px;
    }

    /* --------------------------------------- */

    .header__star {
        top: 390px;
        max-height: 80px;
        width: 240px;
    }

    .header__wrapper-star {
        padding: 20px 20px;
    }

    .header__star-text {
        padding-right: 5px;
    }

    .rating-number {
        font-size: 20px;
        line-height: 22px;
    }

    .rating-star {
        font-size: 13px;
    }

    .rating__image {
        max-width: 150px;
    }

    /* --------------------------------------- */

    .header__service {
        top: 30px;
        left: -30px;
        width: 240px;
    }

    .header__wrapper-service {
        padding: 14px;
    }

    .header__service-image {
        max-width: 60px;
    }

    .header__service-text {
        font-size: 20px;
        margin-right: 10px;
    }

    /* ============================================= */

    .process__top {
        margin-right: 50px;
    }

    /* --------------------------------- */

    .process__img {
        width: 65px;
    }

    .process__subject {
        font-size: 27px;
        line-height: 30px;
    }

    .process__text {
        max-width: inherit;
        font-size: 18px;
        line-height: 32px;
    }

    .process__image-border::after,
    .process__image-border::before {
        width: 50px;
    }

    .process__image-border::before {
        top: -32px;
        right: 31px;
    }

    .process__image-border::after {
        top: 100px;
        right: 31px;
    }


    .process__text-block {
        cursor: none;
    }

    .process__text-block:hover {
        transform: none;
        padding-left: 0;
    }

    .process__image-circle {
        left: 12px;
        top: 48px;
    }

    /* =================================== */

    .experience__number {
        font-size: 53px;
    }

    .experience__subtitle {
        font-size: 20px;
    }

    /* ==================================== */

    .brands__title {
        font-size: 54px;
    }

    /* ================================= */

    .blog__title {
        font-size: 52px;
    }

    .blog__button {
        font-size: 30px;
    }

    .blog__info {
        font-size: 15px;
    }

    .blog__subtitle {
        font-size: 28px;
    }

    .blog__text {
        font-size: 15px;
    }

    /* ==================================== */

    .review__title {
        font-size: 52px;
    }

    .review__desc {
        font-size: 22px;
    }

    /* ==================================== */

    .questions__title {
        font-size: 52px;
    }

    /* ===================================== */

    .form__title {
        font-size: 58px;
    }
}

/* ======================== 1000 ================================ */

@media (max-width: 1000px) {

    .header__title {
        max-width: 350px;
        font-size: 43px;
    }

    .header__image {
        max-width: 400px;
    }

    .button {
        padding: 15px 35px;
        font-size: 16px;
    }


    /* --------------------------------------------- */

    .header__star {
        top: 315px;
        right: -10px;
        max-height: 74px;
        width: 210px;
    }

    .header__wrapper-star {
        padding: 20px 20px;
    }

    .header__star-text {
        padding-right: 5px;
    }

    .rating-number {
        font-size: 18px;
    }

    .rating-star {
        font-size: 12px;
    }

    .rating__image {
        max-width: 120px;
    }

    /* -------------------------------------------- */
    .header__service {
        left: -13px;
        width: 220px;
        max-height: 80px;
    }

    .header__wrapper-service {
        padding: 10px;
    }

    .header__service-image {
        max-width: 56px;
        margin-right: 5px;
    }

    .header__service-text {
        font-size: 18px;
    }

    /* ===================================================== */

    .offer__subtitle {
        max-width: 500px;
        font-size: 36px;
    }

    .process__title {
        max-width: 500px;
        line-height: 59px;
        font-size: 50px;
    }

    /* ------------------------- */

    .process__image {
        padding-right: 15px;
    }

    .process__img {
        width: 55px;
    }

    .process__image-circle {
        left: 7px;
        top: 40px;
    }

    .process__image-border::after {
        top: 95px;
        right: 18px;
    }

    .process__image-border::before {
        top: -37px;
        right: 18px;
    }

    /* ================================= */

    .get-in-touch__title {
        font-size: 38px;
        line-height: 50px;
        padding: 60px 30px 30px;
    }

    .get-in-touch__wrapper {
        width: 529px;
        height: 302px;
    }

    .get-in-touch__button {
        max-width: max-content;
        transform: translateX(30px);
    }

    /* ===================================== */

    .experience__number {
        font-size: 45px;
    }

    .experience__subtitle {
        font-size: 18px;
    }

    /* =================================== */

    .brands__title {
        font-size: 50px;
    }

    .brands__block {
        margin: -20px;
    }

    /* ================================ */

    .blog__title {
        font-size: 50px;
    }

    .blog__button {
        font-size: 27px;
    }

    .blog__info {
        font-size: 14px;
    }

    .blog__subtitle {
        font-size: 25px;
    }

    .blog__text {
        font-size: 14px;
    }

    /* ============================= */

    .review__title {
        max-width: 850px;
        font-size: 48px;
    }

    .review__slide {
        padding: 0;
    }

    /* ============================ */

    .questions__title {
        font-size: 48px;
        line-height: 121%;
    }

    .questions__subtitle {
        font-size: 22px;
    }

    .questions__text {
        font-size: 17px;
    }

    .questions__orange-block {
        width: 46px;
        height: 46px;
    }

    .questions__minus,
    .questions__plus {
        width: 15px
    }

    /* =============================== */

    .form__title {
        font-size: 55px;
    }

    .form__info-title {
        font-size: 14px;
    }

    .form__info-desc {
        font-size: 22px;
    }


}

/* ======================== 900 ================================ */

@media (max-width: 900px) {
    .burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 60px;
        height: 60px;
        top: 15px;
        right: 15px;
        border-radius: 50%;
        z-index: 150;
        transition: all .3s;
    }

    .burger--follow {
        box-shadow: 0 1px 8px #a1a1a1a1;
        background-color: #ffffff;
    }

    .burger span {
        display: block;
        width: 30px;
        height: 4px;
        border-radius: 5px;
        background-color: #1E1B1B;
        margin: 4px 0;

    }

    .burger::after,
    .burger::before {
        content: '';
        display: block;
        width: 30px;
        height: 4px;
        border-radius: 5px;
        background-color: #1E1B1B;
        transition: all .3s;
    }

    .burger--open span {
        transform: scale(0);
        transition: all .3s;
    }

    .burger--open::before {
        position: fixed;
        transform: rotate(-45deg);
    }

    .burger--open:after {
        position: fixed;
        transform: rotate(45deg);
    }

    .header__top {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #ffffff;
        z-index: 100;
        min-width: 320px;
        transform: translateX(100%);
        transition: all .3s;
    }

    .header__top--open {
        transform: translateX(0%);
    }

    .header__top-inner {
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 80px 0;
    }

    .header__logo {
        margin-bottom: 30px;
    }

    .header__nav {
        flex-direction: column;
        flex-grow: 1;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    .header__nav-list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .header__nav-item {
        align-items: center;
        padding: 0;
    }

    .header__nav-link {
        display: block;
        padding: 25px;
    }

    .header__top-line {
        display: none;
    }

    .header__menu-assistance {
        flex-direction: column;
    }

    .header__menu-image-link {
        margin: 0;
        padding-bottom: 10px;
    }

    /* ===================================== */

    .offer__title {
        font-size: 22px;
    }

    .offer__card-text {
        font-size: 19px;
    }

    /* ==================================== */

    .experience__number {
        font-size: 40px;
    }

    .experience__subtitle {
        font-size: 17px;
    }

    /* ============================= */

    .brands__title {
        font-size: 46px;
    }

    /* ============================= */

    .blog__title {
        font-size: 46px;
    }

    .blog__button {
        font-size: 24px;
    }

    .blog__info {
        font-size: 13px;
    }

    .blog__subtitle {
        font-size: 22px;
    }

    .blog__text {
        font-size: 13px;
    }

    /* ========================== */

    .review__title {
        font-size: 45px;
        max-width: 700px;
    }

    /* ========================== */

    .form__shape-item {
        font-size: 15px;
    }

    .form__info-title {
        font-size: 13px;
    }

    .form__info-desc {
        font-size: 20px;
    }

    /* ============================== */

    .location .container {
        padding: 0;
    }

    ymaps > .ymaps-map {
        width: 100%;
    }

}

/* ======================== 850 ================================ */
@media (max-width: 850px) {


    .header__body-inner {
        flex-direction: column;
        align-items: flex-start;
    }

    .header__body-content {
        margin: 0;
    }

    .header__title {
        font-size: 50px;
        max-width: inherit;
        text-align: center;
    }

    .header__btn-box {
        justify-content: center;
    }

    .header__desc {
        justify-content: center;
    }

    .header__slogan {
        font-size: 15px;
    }

    .header__info {
        font-size: 13px;
    }

    .header__body-content-2 {
        width: 100%;
        margin-top: 30px;
    }

    .header__container-desc {
        display: flex;
        justify-content: center;
    }

    .header__image {
        display: none;
    }

    .header__star {
        position: static;
    }

    .header__service {
        position: static;
    }

    /* ================================ */

    .offer__cards {
        grid-template: 1fr 1fr / 1fr 1fr;
    }

    /* =================================== */

    .process__title {
        font-size: 40px;
        line-height: 45px;
    }

    .process__subtitle {
        font-size: 15px;
    }

    .process__button {
        padding: 15px 35px;
        font-size: 16px;
    }



    /* ==================================== */

    .experience__number {
        font-size: 40px;
    }

    .experience__subtitle {
        font-size: 15px;
    }

    /* ======================================== */

    .brands__title {
        font-size: 40px;
    }

    .brands__block {
        margin-bottom: -50px;
    }

    /* ======================================= */

    .blog__title {
        font-size: 40px;
    }

    .blog__button {
        font-size: 22px;
    }

    .blog__info {
        font-size: 13px;
    }

    .blog__subtitle {
        font-size: 20px;
    }

    .blog__text {
        font-size: 13px;
    }

    /* ================================ */

    .form__info-desc {
        font-size: 18px;
    }

}

/* =========================== 790 ================================== */
@media (max-width: 790px) {

    .process__image-border::after,
    .process__image-border::before {
        width: 70px;
    }

    .process__image-border::after {
        top: 110px;
        right: 8px;
    }

    .process__image-border::before {
        top: -55px;
        right: 8px;
    }

    /* =============================== */

    .review__slider-arrow {
        padding: 10 12px;
    }

    .review__slider-arrow svg {
        width: 18px;
        height: 16px;
    }

}


/* ======================== 700 ================================ */

@media (max-width: 700px) {


    .header__body {
        margin-top: 90px;
    }

    .button {
        padding: 12px 38px;
    }

    /* ============================================ */

    .offer__card svg {
        margin-bottom: 7px;
    }

    .offer__card-text {
        font-size: 16px;
    }

    /* =========================================== */

    .process__top {
        margin-right: 0;
    }

    .process__title {
        text-align: center;
        max-width: inherit;
    }

    .process__subtitle {
        text-align: center;
        max-width: inherit;
        line-height: 24px;
        opacity: 0.6;
        padding-bottom: 32px;
    }

    .process__button {
        max-width: inherit;
        justify-content: center;
    }

    .process__row {
        margin-top: 60px;
    }

    .process__row-block {
        justify-content: center;
    }

    .process__inner {
        flex-direction: column;
    }

    .process__image {
        bottom: 0;
    }

    .process__text {
        max-width: 300px;
        font-size: 15px;
        line-height: 25px;
    }

    .process__image-border::after,
    .process__image-border::before {
        width: 50px;
    }

    .process__image-border::after {
        top: 85px;
        right: 17px;
    }

    .process__image-border::before {
        top: -33px;
        right: 17px;
    }

    /* ====================================== */

    .experience__number {
        font-size: 38px;
    }

    .experience__subtitle {
        font-size: 14px;
    }

    /* ======================================= */

    .brands__title {
        font-size: 40px;
    }

    .brands__block {
        margin-bottom: -80px;
    }

    /* ==================================== */

    .blog__title {
        font-size: 40px;
    }

    .blog__button {
        font-size: 20px;
    }

    .blog__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .blog__info {
        font-size: 12px;
    }

    .blog__subtitle {
        font-size: 18px;
    }

    .blog__text {
        font-size: 12px;
    }

    /* ====================================== */

    .review__slider-arrow {
        display: none;
    }

    /* ============================= */

    .questions__subtitle {
        font-size: 20px;
    }

    .questions__text {
        font-size: 15px;
    }

    /* ============================ */

    .form {
        padding-top: 100px;
    }
    
.form__title {
    margin: 30px auto;
    text-align: center;
    max-width: 27rem;
    font-size: 48px;
}

    .form__inner {
        display: block;
        padding-top: 40px;
    }

    .form__row {
        display: flex;
    }

    .form__info-item {
        margin: 40px 40px 0px 0px;
    }

    .form__info-item:last-child {
        margin-right: 0;
    }

    .form__top-button {
        margin-top: 30px;
    }
}


/* ====================== 600 ========================== */


@media (max-width: 600px) {

    .questions__subtitle {
        font-size: 17px;
    }

    .questions__text {
        font-size: 14px;
    }

    .questions__orange-block {
        width: 38px;
        height: 38px
    }

    .questions__minus,
    .questions__plus {
        width: 12px;
    }

    /* ========================= */

    .form__info-desc {
        font-size: 15px;
    }
}

/* ======================== 550 ================================ */

@media (max-width: 550px) {

    .get-in-touch__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 300px;
    }

    .get-in-touch__title {
        text-align: center;
        max-width: 400px;
        font-size: 28px;
        line-height: 40px;
        padding: 70px 20px 30px
    }

    .get-in-touch__button {
        font-size: 14px;
        padding: 10px 40px;
        transform: translateX(-5px);
    }

    .get-in-touch {
        background: none;
    }

    /* ================================ */

    .review__desc {
        font-size: 20px;
    }

    .review__title {
        font-size: 40px;
        max-width: 700px;
    }
}

/* ======================== 500 ================================ */

@media (max-width: 500px) {

    .offer__switch-text {
        font-size: 16px;
        margin-right: 10px;
    }

    .offer__switch-image {
        width: 46px;
    }

    /* ================================ */

    .process__subject {
        font-size: 21px;
    }

    /* ===================================== */

    .experience__list {
        display: grid;
        grid-template: 1fr / 1fr 1fr;
        text-align: center;
    }

    /* ====================================== */

    .brands {
        padding: 128px 0 150px;
    }

    .brands__block {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .brands__block:first-child {
        margin-top: 30px;
    }

    .brands__block:last-child {
        margin-top: 80px;
    }

    .brands__image {
        margin: -29px 0;
    }

    /* ====================================== */

    .blog__list {
        gap: 40px 13px;
    }

    .blog__info {
        font-size: 11px;
    }

    .blog__subtitle {
        font-size: 16px;
    }

    .blog__text {
        font-size: 11px;
    }

    /* ===================== */

    .review__name {
        font-size: 18px;
        line-height: 120%;
    }

    .review__city {
        font-size: 13px;
    }

    .review__desc {
        font-size: 16px;
    }

    .review__slider-dots button {
        width: 24px;
    }

    .slick-dots {
        margin-top: 40px;
    }

    .review__title {
        line-height: 120%;
        margin-bottom: 60px;
    }

    .review__slide-inner {
        padding: 50px;
    }

    /* ========================= */

    .questions__title {
        font-size: 35px;
        line-height: 120%;
        padding: 110px 0 76px 0;
    }

    .questions__subtitle {
        max-width: 200px;
    }

    .questions__orange-block {
        top: 45px;
    }

    /* ===================================== */

    .form__shape {
        width: 100%;
    }

    .form__top-button {
        display: inline-block;
        width: 100%;
    }

    .form__row {
        display: block;
    }
}

/* ======================== 400 ================================ */

@media (max-width: 400px) {

    .header__top {
        min-width: none;
        left: 0;
    }

    .header__nav-link {
        padding: 15px;
    }

    /* ------------------------- */

    .header__title {
        width: 100%;
        font-size: 35px;
        line-height: 50px;
    }

    .header__btn-box {
        flex-direction: column;
    }

    .header__button {
        margin: 0;
        padding: 10px 30px;
        margin-bottom: 20px;
    }

    .header__play-button {
        font-size: 14px;
    }

    .header__play-button-image {
        width: 22px;
    }

    .header__slogan {
        line-height: 23px;
    }

    .header__desc {
        max-width: inherit;
        justify-content: flex-start;
    }

    .header__desc-image {
        width: 41px;
    }

    .header__container-desc {
        display: flex;
        flex-direction: column;
    }

    .header__star {
        margin-bottom: 20px;
    }

    /* =================================== */

    .offer__title {
        font-size: 20px;
    }

    .offer__subtitle {
        font-size: 32px;
        line-height: 36px;
        padding-bottom: 2rem;
    }

    /* ================================= */


    .process__image-border::after,
    .process__image-border::before {
        display: none;
    }

    /* ================================= */

    .blog__list {
        grid-template-columns: repeat(1, 1fr);
    }

    .blog__info {
        font-size: 13px;
    }

    .blog__subtitle {
        font-size: 18px;
    }

    .blog__text {
        font-size: 15px;
    }

    /* ============================== */

    .review__title {
        font-size: 35px;
    }

    /* ========================= */

    .questions__block-item {
        padding: 30px;
    }

    .questions__orange-block {
        top: 38px;
    }
}


/* ====================== 350 ========================== */

@media (max-width: 350px) {

    .review__slide-inner {
        padding: 30px;
    }

    .review__name {
        font-size: 16px;
    }

    .review__desc {
        font-size: 15px;
    }

    /* ====================== */

    .questions__subtitle {
        font-size: 16px;
        max-width: 150px;
    }

    /* ========================= */

    .form__title {
        font-size: 35px;
    }
}