:root {
    scroll-behavior: smooth;
}

body {
    font-family: Manrope, sans-serif;
    color: #1E1B1B;
    scroll-behavior: smooth;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1330px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 50;
    background-color: #00000060;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}

.overlay--show {
    visibility: visible;
    opacity: 1;
}

.button {
    display: flex;
    white-space: nowrap;
    font-weight: 600;
    font-size: 18px;
    background: #FF6433;
    border-radius: 12px;
    line-height: 32px;
    color: #ffffff;
    transition: all .5s ease;
}

.title {
    font-weight: 800;
    font-size: 58px;
}


/* ---------------------------------- */




/* ---------------- */


.header {}

.header__top {}

.header__top-inner {
    display: flex;
    align-items: center;
    padding-top: 30px;
    height: 100%;
}

.header__menu-nav {
    display: flex;
    align-items: center;
}

.header__nav {
    margin-left: auto;
}

.header__nav-list {
    display: flex;
}

.header__nav-item {
    padding-right: 40px;
    transition: all .1s step-start;
}

.header__nav-item:hover {
    color: #fa7101;
}

.header__nav-item:last-child {
    padding-right: 0;
}


.header__nav-link {
    font-weight: 800;
    line-height: 28px;
    transition: all .3s linear;
}


.header__menu-assistance {
    position: relative;
    display: flex;
    align-items: center;
}

.header__top-line {
    display: block;
    margin: 0 32px;
}

.header__menu-image-link {
    margin-right: 14px;
    transition: all .3s linear;
}

.header__menu-image-link:hover {
    transform: scale(1.2) rotate(-10deg);
}


.header__menu-text {
    opacity: 0.7;
    font-weight: 500;
    line-height: 1.5rem;
}

.header__menu-phone {
    font-weight: 600;
    font-size: 18px;
    line-height: 2rem;
}







.header__body {
    margin-top: 192px;
}

.header__body-inner {
    display: flex;

}

.header__body-content {
    margin-right: 51px;
}

.header__title {
    width: 650px;
    font-size: 64px;
    line-height: 84px;
    padding-bottom: 32px;
}

.header__btn-box {
    display: flex;
    align-items: center;
    padding-bottom: 48px;
}

.header__button {
    padding: 16px 40px;
    margin-right: 50px;
}

.header__button:hover {
    box-shadow: 0px 0px 18px 9px rgba(34, 60, 80, 0.2) inset;
}

.header__play-button {
    display: flex;
    align-items: center;
    white-space: nowrap;
    line-height: 19px;
    font-weight: 700;
}

.header__play-button:hover img {
    box-shadow: 0px 0px 0px 6px rgba(34, 60, 80, 0.2);
    border-radius: 100%;
    opacity: 0.8;
}

.header__play-button-image {
    margin-right: 8px;
    transition: all .2s linear;
}

.header__desc {
    display: flex;
    align-items: center;
}

.header__desc-image {
    padding-right: 13px;
}

.header__info {
    line-height: 24px;
    color: #939191;
}

.header__slogan {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
}

.header__body-content-2 {}

.header__image-box {
    position: relative;
    margin-top: -82px;
}

.header__image {}

.header__star {
    position: absolute;
    top: 460px;
    right: -50px;
    width: 326px;
    max-height: 102px;
    border-radius: 59px;
    background-color: #ffffff;
    transition: all .2s linear;
    cursor: pointer;
}

.header__star:hover {
    box-shadow: 0px 0px 0px 16px rgba(255, 255, 255, 0.37);
}

.header__wrapper-star {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}


.header__star-text {
    padding-right: 15px;
    color: #000000;
}

.rating-number {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.03em;
}

.rating-star {
    line-height: 24px;
}

.header__service {
    position: absolute;
    top: 75px;
    right: 340px;
    width: 326px;
    max-height: 102px;
    border-radius: 59px;
    background-color: #ffffff;
    transition: all .2s linear;
    cursor: pointer;
}

.header__service:hover {
    box-shadow: 0px 0px 0px 16px rgba(255, 255, 255, 0.37);
}

.header__wrapper-service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 45px;
}

.header__service-image {
    transition: all .3s linear;
}

.header__service-image:hover {
    transform: rotate(20deg);
}

.header__service-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}


/* ----------------------M A I N---------------------- */

/* ---------------------O F F E R-------------------------- */

.offer {
    margin-top: 118px;
    padding-bottom: 138px;
    background: #F2F2F2;
}

.offer__container {
    display: flex;
    flex-direction: column;
}

.offer__subtitle {
    text-align: center;
    align-self: center;
    max-width: 900px;
    padding-bottom: 4rem;
    line-height: 76px;
}

.offer__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    padding-top: 8.25rem;
}

.offer__cards {
    display: grid;
    grid-template-columns: repeat(4, 320px);
    grid-template-rows: repeat(2, 230px);
    gap: 8px;
    padding-bottom: 32px;
}

.offer__card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ffffff;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.offer__card-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.offer__card:hover {
    background: #FF6433;
    color: #ffffff;
}

.offer__card svg path {
    transition: all .3s ease-in-out;
}

.offer__card:hover svg path {
    fill: #ffffff;
}

.offer__card svg {
    margin-bottom: 12px;
}

.offer__switch {
    display: flex;
    margin-left: auto;
}

.offer__switch-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    margin-right: 16px;
}

.offer__switch:hover .offer__switch-image {
    animation: arrowMove 1s ease-out infinite alternate;
}


@keyframes arrowMove {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(20px);
    }
}



/* ---------------------P R O C E S S---------------------------- */

.process {
    margin-top: 138px;
    margin-bottom: 134px;
}

.process__inner {
    display: flex;
}

.process__top {
    margin-right: 132px;
}

.process__title {
    max-width: 600px;
    line-height: 76px;
    padding-bottom: 16px;
}

.process__subtitle {
    max-width: 440px;
    line-height: 28px;
    opacity: 0.6;
    padding-bottom: 32px;
}

.process__button {
    max-width: max-content;
    padding: 16px 40px;
}

.process__button:hover {
    box-shadow: 0px 0px 18px 9px rgba(34, 60, 80, 0.2) inset;
}

.process__row-block {
    display: flex;
}

.process__image {
    position: relative;
    bottom: 1em;
    padding-right: 24px;
}

.process__image-border::after {
    content: '';
    position: absolute;
    right: 1.2rem;
    top: 7.8rem;
    width: 80px;
    border: 1px dashed #FF6433;
    transform: rotate(90deg);
}

.process__image-border::before {
    content: '';
    position: absolute;
    right: 1.2rem;
    bottom: 14.6rem;
    width: 80px;
    border: 1px dashed #FF6433;
    transform: rotate(90deg);
}

.process__image-circle {
    position: absolute;
    top: 3.3em;
    left: 0.95em;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #ffffff3d;
}

.process__text-block {
    padding-bottom: 30px;
    cursor: pointer;
    transition: all .3s ease-out;
}

.process__text-block:hover {
    transform: scale(1.2);
    padding-left: 40px;
}

.process__subject {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    padding-bottom: 8px;
}

.process__text {
    max-width: 320px;
    font-size: 18px;
    line-height: 32px;
    opacity: 0.6;
}




/* ------------------------GET IN TOUCH------------------------------ */



.get-in-touch {
    background: url('../images/get.jpg');
    background-size: cover;
    background-position: center;
}

.get-in-touch__wrapper {
    width: 729px;
    height: 502px;
    background-color: #FF6433;
    z-index: 10;
}

.get-in-touch__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 67px;
    letter-spacing: -0.03em;
    padding: 128px 80px 50px;
    color: #ffffff;
}

.get-in-touch__button {
    max-width: max-content;
    border-radius: 12px;
    padding: 16px 40px;
    color: #ffffff;
    background-color: #1E1B1B;
    transition: all .3s linear;
    transform: translateX(61px);
}

.get-in-touch__button:hover {
    box-shadow: 0px 0px 18px 9px rgba(34, 60, 80, 0.2) inset;
    color: #000000;
    background-color: white;
}



/* --------------------------E X P E R I E N C E---------------------------------- */



.experience {
    padding: 48px 0;
}

.experience__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* Для адаптива */
    gap: 20px;
    /* Для адаптива */
}

.experience__number {
    font-weight: 800;
    font-size: 58px;
    line-height: 131%;
    color: #661CE7;
}

.experience__subtitle {
    font-size: 24px;
    line-height: 150%;
    opacity: 0.7;
}



/* ----------------------B R A N D S----------------------------- */

.brands {
    padding: 128px 0 82px;
    background: #E2E6E9;
}

.brands__title {
    text-align: center;
    line-height: 131%;
    margin-bottom: 31px;
}

.brands__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 39px;
}

.brands__item {
    cursor: pointer;
}

.brands__item svg path {
    transition: all .2s ease;
}

.brands__item:hover svg path {
    fill: rgb(58, 118, 124);
}



/* ----------------------B L O G--------------------------- */



.blog {
    padding: 131px 0 136px;
}

.blog__title {
    line-height: 131%;
    margin-bottom: 47px;
}

.blog__button-box {
    margin-bottom: 46px;
}

.blog__button {
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -0.03em;
    margin-right: 30px;
    background-color: #ffffff;
    transition: all .3s linear;
}

.blog__button--active {
    text-shadow: 3px 3px 4px rgba(103, 103, 103, 1);
}

.blog__button:last-child {
    margin: 0;
}

.blog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 64px 0;
}

.blog__item {
    cursor: pointer;
}

.blog__item-transition {
    transition: transform .3s ease;
}

.blog__item-transition:hover {
    transform: scale(.96);
}

.blog__image {
    margin-bottom: 24px;
}

.blog__info {
    line-height: 175%;
    margin-bottom: 16px;
    color: #939191;
}

.blog__subtitle {
    max-width: 405px;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -0.03em;
    margin-bottom: 16px;
}

.blog__text {
    max-width: 400px;
    line-height: 175%;
    color: #232536;
}


/* ---------------------R E V I E W------------------------------- */


.review {
    display: flex;
    flex-direction: column;
    padding-top: 128px;
    padding-bottom: 206px;
    background: #F2F2F2;
}

.review__title {
    margin: 0 auto;
    text-align: center;
    max-width: 910px;
    line-height: 131%;
    letter-spacing: -0.03em;
    margin-bottom: 76px;
}

.review__wrapper {
    position: relative;
}

.review__slider {
    display: flex;
}

.review__block {
    width: 616px;
    height: 376px;
    padding: 72px;
    margin-right: 48px;
    background: #FFFFFF;
    border: 1px solid rgba(172, 172, 172, 0.29);
    border-radius: 6px;
    transition: all .3s ease;
    cursor: pointer;
}

.review__block:last-child {
    margin: 0;
}

.review__block:hover {
    transform: scale(1.02);
    background-color: rgba(255, 51, 0, 0);
}

.review__image-container {
    display: flex;
    margin-bottom: 24px;
}

.review__image {
    padding-right: 16px;
}

.review__name {
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em;
}

.review__place {
    line-height: 175%;
    color: #939191;
}

.review__text {
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em;
}

.review__slider-arrows {
    display: flex;
    position: absolute;
    top: 25.2rem;
    right: 3rem;
    padding: 10px;
    z-index: 10;
}

.review__slider-prev {
    margin-right: 24px;
    background: #ffffff;
}

.review__slider-next {
    background: #ffffff;
}

.review__slider-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 13px;
    border-radius: 50%;
    transition: all .5s ease;
}

.review__slider-arrow path {
    fill: #000000;
    transition: all .5s ease;
}

.review__slider-arrow:hover {
    transform: scale(1.3);
    background: #1E1B1B;
}

.review__slider-arrow:hover path {
    fill: #ffffff;
}


.review__slider-dots .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-25px);
    margin-top: 50px;
}

.review__slider-dots li {
    margin-right: 11px;
}

.review__slider-dots li:last-child {
    margin-right: 0;
}

.review__slider-dots button {
    font-size: 0;
    background-color: transparent;
    width: 32px;
    border: 2px solid #939191;
}

.review__slider-dots .slick-active button {
    border: 2px solid #FF6433;
    transition: all .3s ease;
}




/* ------------------------Q U E S T I O N S---------------------------- */


.questions {
    padding-bottom: 124px;
    background: #E2E6E9;
}


.questions__content {
    position: relative;
}

.questions__title {
    padding: 128px 0 86px 0;
    text-align: center;
    line-height: 131%;
}

.questions__block-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px 0;
}


.questions__block-item {
    width: 70%;
    padding: 40px 154px 38px 40px;
    background-color: #ffffff;
}

.questions__block-link--active .questions__plus {
    transform: rotate(0deg);
}

.questions__block-head {
    position: relative;
}

.questions__orange-block {
    position: absolute;
    top: -20%;
    right: -15%;
    width: 51.08px;
    height: 48px;
    background-color: #FF6433;
}

.questions__minus {
    position: absolute;
    top: 50%;
    left: 32%;
    border: 1px solid #ffffff;
    width: 17px;
    z-index: 10;
    transition: all .3s ease;
}

.questions__plus {
    position: absolute;
    top: 50%;
    left: 32%;
    border: 1px solid #ffffff;
    width: 17px;
    z-index: 10;
    transition: all .3s ease;
    transform: rotate(90deg);
}


.questions__subtitle {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
}


.questions__text {
    display: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 175%;
    margin-top: 16px;
    color: #939191;
}




/* ------------------------F O R M---------------------------- */



.form {
    padding-bottom: 178px;
    padding-top: 121px;
}

.form__title {
    max-width: 31.25rem;
    line-height: 131%;
    font-size: 4rem;
    letter-spacing: -0.03em;
    margin-bottom: 48px;
}

.form__inner {
    display: flex;
    justify-content: space-between;
}

.form__shape {}

.form__shape-item {
    font-family: 'Manrope';
    width: 120%;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
    padding: 23px 40px;
    border-radius: 2px;
    background: #F2F2F2;
}

.form__shape-item::placeholder {
    color: #1E1B1B;
    line-height: 175%;
}

.form__shape-service {
    display: block;
    margin-right: -10px;
    appearance: none;
    color: #1E1B1B;
}

.form__shape-text {
    resize: none;
}

.form__top-button {
    margin-top: 48px;
    padding: 16px 40px;
    font-weight: 500;
}

.form__top-button:hover {
    box-shadow: 0px 0px 18px 9px rgba(34, 60, 80, 0.2) inset;
}

.form__info-item {
    margin-bottom: 32px;
}

.form__info-title {
    opacity: 0.7;
    line-height: 175%;
    font-weight: 600;
    margin-top: -10px;
}

.form__info-desc {
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em;
    font-weight: 600;
}




/* ------------------------L O C A T I O N-------------------------- */



.location {
    position: relative;
    margin-bottom: 280px;
}

.location__image {
    position: absolute;
    top: 21.4rem;
    bottom: 0;
    width: 100%;
    height: 450px;
    background: url('../images/map-image.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}


[class*="copyrights-pane"] {
    display: none !important;
}

.ymaps-map {
    filter: grayscale(1);
}

ymaps>ymaps>iframe {
    display: none !important;
}


/* -----------------------F O O T E R------------------------- */

/* --------------------F O O T E R  T O P----------------------- */

.footer {}

.footer__top {
    background: #1E1B1B;
    opacity: 0.98;
    padding: 128px 0 129px 0;
}

.footer__top-inner {
    display: flex;
    justify-content: space-between;
}

.footer__title {
    max-width: 463px;
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    letter-spacing: -0.03em;
    color: #ffffff;
    margin-bottom: 64px;
}

.footer__socials-list {
    display: flex;
}

.footer__socials-item {
    margin-right: 23px;
}

.footer__socials-link path {
    transition: all .3s ease;
}

.footer__socials-link:hover path {
    fill: #ffffff9c;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

a.disabled path {
    fill: #888;
}

.footer__info-item {
    margin-bottom: 32px;
    color: #ffffff;
}

.footer__info-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 175%;
    margin-bottom: 8px;
    opacity: 0.6;
}

.footer__info-desc {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}


/* -------------------F O O T E R  B O T T O M----------------------- */


.footer__bottom {
    padding: 64px 0 64px 0;
    background: #1E1B1B;
}

.footer__bottom-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__nav-list {
    display: flex;
}

.footer__nav-item {
    line-height: 175%;
    margin-right: 36px;
    color: #ffffff;
    transition: color .3s ease;
}

.footer__nav-item:hover {
    color: #ffffffb4;
}

.footer__nav-item:last-child {
    margin-right: 0;
}

.footer__copyright {
    color: #939191;
}





/* ------------------------MEDIA-------------------------- */

/* ======================== 900 ================================ */

@media (max-width: 900px) {
    .burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 60px;
        height: 60px;
        top: 15px;
        right: 15px;
        border-radius: 50%;
        z-index: 150;
        transition: all .3s;
    }

    .burger--follow {
        box-shadow: 0 1px 8px #a1a1a1a1;
        background-color: #ffffff;
    }

    .burger span {
        display: block;
        width: 30px;
        height: 4px;
        border-radius: 5px;
        background-color: #1E1B1B;
        margin: 4px 0;
        
    }

    .burger::after,
    .burger::before {
        content: '';
        display: block;
        width: 30px;
        height: 4px;
        border-radius: 5px;
        background-color: #1E1B1B;
        transition: all .3s;
    }

    .burger--open span {
        transform: scale(0);
        transition: all .3s;
    }

    .burger--open::before {
        position: fixed;
        transform: rotate(-45deg);
    }

    .burger--open:after {
        position: fixed;
        transform: rotate(45deg);
    }
    

    .header {
        padding-top: 80px;
    }

    .header__top {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #ffffff;
        z-index: 100;
        min-width: 320px;
        transform: translateX(100%);
        transition: all .3s;
    }

    .header__top--open {
        transform: translateX(0%);
    }

    .header__top-inner {
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding: 80px 0;
    }

    .header__logo {
        margin-bottom: 30px;
    }

    .header__nav {
        flex-direction: column;
        flex-grow: 1;
        margin: 0 auto;
        padding-bottom: 30px;
    }

    .header__nav-list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .header__nav-item {
        align-items: center;
        padding: 0;
    }

    .header__nav-link {
        display: block;
        padding: 25px;
    }

    .header__top-line {
        display: none;
    }

    .header__menu-assistance {
        flex-direction: column;
    }

    .header__menu-image-link {
        margin: 0;
        padding-bottom: 10px;
    }
}

/* ======================== 400 ================================ */

@media (max-width: 400px) {
    .header__top {
        min-width: none;
        left: 0;
    }

    .header__nav-link {
        padding: 15px;
    }
}